.form {
  position: fixed;
  z-index: 1;
  top: 19%;
  left: 25%;
  right: 25%;
  padding: 0.2rem 1rem;
  background-color: rgb(117, 111, 117);
  background-image: url(/images/form-background.png);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  max-width: 70vh;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 0.5rem;
}
.form > * {
  /* margin: 0.4rem; */
  padding: 0.4rem;
  border-radius: 0.5rem;
  color: black;
  font-weight: 600;
}
.form label {
  color: aquamarine;
}
#register,
button:not(.close-form) {
  margin: 1rem auto 0;
  font-weight: 800;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  letter-spacing: 2px;
  font-size: large;
  background-color: grey;
  color: white;
  cursor: pointer;
}
#register:hover,
button:not(.close-form) {
  background-color: rgb(58, 56, 56);
  color: aquamarine;
}
.form input {
  margin-bottom: 1rem;
}
.close-form {
  position: absolute;
  top: -1rem;
  right: 1rem;
  font-size: 5rem;
  color: aquamarine;
  cursor: pointer;
  border: none;
  background: none;
}
.close-form:hover {
  transform: scale(1.2);
  color: red;
}
.first-name {
  margin-top: 1rem;
}
.hidden {
  display: none;
}
