html {
  scroll-padding-top: 0;
}
body {
  margin: 0;
  padding: 0;
}
header {
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /*         flex-wrap: wrap; */
  position: relative;
}
header section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.anime-h1 {
  font-size: 54px;
  margin: 0;
  padding: 0;
}
header nav {
  margin: 0;
}
header nav ul {
  list-style: none;
  margin: auto;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.nav-menu {
  position: relative;
  margin: 0;
  padding: 0;

  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
}

.nav-menu.active {
  max-height: 200px;
  transition: max-height 0.25s ease-in;
}

.nav-item {
  margin: auto;
}
.nav-item:hover {
  background-color: #c80808;
  color: white;
}

.hamburger {
  display: block;
  cursor: pointer;
}
.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

main {
  margin-top: 0px;
}
main > article {
  width: 100%;
  margin: 3em 0;
  border-radius: 0;
}
.City{
  padding: 1rem;
}
.City h1{
  margin: 0;
}
iframe{
  width: 80vw;
  height: 80vh;
}

.description img,
.card img {
  min-width: 60vw;
}

article .description {
  text-align: left;
}

.pack {
  margin: 1.5rem;
}
.pack img {
  max-width: 60vw;
}
.pack:hover {
  transform: scale(1.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#About .card img {
  width: 80vw;
  box-sizing: border-box;
}

#About .card img:hover {
  transform: scale(1.18);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  padding: 20px 10px;
  margin: 0;
  justify-content: space-evenly;
}

footer article ul,
footer #footer-connect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer article ul li:last-child {
  border: none;
}

@media screen and (max-width: 400px) {
  footer {
    padding: 20px 0;
  }
  footer li {
    padding: 0;
    white-space: normal;
  }
  footer nav li {
    padding: 0 0.3em;
  }
}
