* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  background-color: rgb(255, 255, 255);
}
main {
  margin: 0 auto;

  background-color: rgb(255, 244, 224);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 100%;
    width: 90vh;
}

main > * {
  margin: 1.5rem 2rem;
}
a {
  padding-bottom: 3rem;
  text-decoration: none;
  color: black;
}
a:hover{
  cursor: pointer;
}


